.sidebar-header {
  padding: 20px;
  background-image: linear-gradient(rgb(42, 65, 165),rgb(5, 161, 252));
  color: #ffffff;
  text-align: center;
  display: flex;
}

.sidebar-nav {
  flex-grow: 1;
  padding: 20px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.sidebar-nav ul li {
  padding: 10px 0;
  cursor: pointer;
  color: #555555;
}



.sidebar-nav ul li:hover a {
  color: #000000 !important; 
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: max-content;
}

.sidebar-nav a {
  color: #fff;
  text-decoration: none;
}


.sidebar-nav a {
  color: #fff;
  text-decoration: none;
}
.container {
  display: flex;

  transition: margin-left 0.3s;
}
.sidebar-hide{
  display: none;
  flex:0;
}
.sidebar {
   
 
 height: 100vh;
 background-color:rgb(5, 63, 252);
 color: #252525;
 transform: translateX(0);
 transition: transform 0.3s ease;
 position:fixed;
 z-index:10;
 width:18vw;
 
  
}



.toggle-btn {
  background: #444;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}


.sidebar-nav a {
  color: #fff;
  text-decoration: none;
}

.show-sidebar {
  width: 100%;
  flex: 1;

  position:relative; 

  overflow: hidden; 
  height: 100%; 
 
}


@media (max-width: 768px) {
  .container {
      margin-left: 0; 
  }
  .sidebar{
    width:50vw;
}
}