/* src/styles/ConfirmPasswordPage.css */

/* Center the form on the page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  /* Style the login form */
  .login-form {
    background: #ffffff;
    padding: 2rem 2rem 3rem; /* Extra bottom padding for the social login buttons */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
  
  .login-form h1 {
    margin-bottom: 1rem; /* Adjusted margin to accommodate email field */
    font-size: 24px;
    color: #333;
    font-weight: bold;
    font-family: roboto;
  }
  
  /* Email field */
  .email-field {
    width: calc(100% - 40px);
    padding: 0.75rem 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9; /* Light gray to indicate non-editable */
    color: #888;
    box-sizing: border-box;
  }
  
  /* Form inputs */
  .login-form input {
    width: calc(100% - 40px);
    padding: 0.75rem 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .login-form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  /* Form button */
  .login-form button {
    width: 100%;
    padding: 0.75rem;
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Body styling */
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .login-form, .registration-form {
    font-family: 'Roboto', sans-serif;
  }
  
  .login-form h1, .registration-form h1 {
    font-weight: 700;
  }
  
  .login-form button, .registration-form button {
    font-weight: 500;
  }
  