/* rawmaterialsmodal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .modalRaw {
   
    background: white;
    padding: 50px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
    z-index: 2;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal .form-group {
    margin-bottom: 15px;
  }
  
  .modal .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .modal .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .modal .modal-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal .modal-actions button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .modal .modal-actions button:first-child {
    background: #5cb85c;
    color: white;
  }
  
  .modal .modal-actions button:last-child {
    background: #d9534f;
    color: white;
  }
  
